.footer-wrapper {
    
    .footer-container {
        background: #f6fbff;
        .footer-up{
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em 0;
            margin:0 5em;
            border-bottom:2px solid #D4D4D4;
            .footer-description {
                
                width: 300px;
                text-align: left;
                .footer-logo {
                    width:auto;
                    height:5em;
                    border-radius: 2px;
                }
                p{
                    opacity: .7;
                    line-height: 2rem;
                    text-align: justify;
                    width: 400px;
                    margin: 0;
                }
            }
            .footer-menu {
                margin:auto 0;
                ul {
                    margin:0;
                    padding:0;
                    list-style: none;
                    li {
                        padding:0.5em 1em;
                        text-align: left;
                        opacity:0.65;
                        a{
                            text-decoration: none;
                            color: initial;
                            opacity: .7;
                        }
                            a:hover{
                                text-decoration:underline;
                            }
                    }
                    :hover{
                        opacity:1;
                    }
                }
            }
            .join-us {
                text-align: left;
                // transform: translateY(5%);

                p {
                    margin:0;
                    opacity: .7;
                    font-size: 14px;
                }
                .download-wrapper {
                    filter: grayscale(100%);
                    padding:1em 0;                    
                    display:flex;
                    justify-content: space-between;
                    .download-button {
                        height:auto;
                        width:104px;
                        padding:0 0.5em;
                        cursor:pointer;
                    }
                }
                .sosmed-wrapper {
                    cursor:pointer;
                    .medsos-icon {
                        filter: grayscale(100%);
                        width:3em;
                        height:3em;
                        padding:0.5em;
                    }
                }
            }
        }
        .footer-down {
            text-align:center;
            p {
                padding:2em;
                margin:0;
                opacity: .7;
            }
        }
    }
}
//animation for hiring badge
.career {
    position: relative;
    width:auto;
    .badge-hiring {
        padding:0.2em;
        position: absolute;
        right:-5em;
        top:0;
        font-size:small;
        color: rgb(15, 127, 255);
        cursor:help;
        border-radius: 0.5em;
        animation: badge-moving 2s infinite
    }
    @keyframes badge-moving {
        0% {top: -5px;}
        50% {top: 2px;}
        100% {top: -5px;}
    }
}




