.header-content-wrapper {
    height: 64px;
    max-width: 1152px;
    margin: 0 auto;
    color: white;
	.logo-wrapper {
		img {
            width: 88px;
            height: auto;
            filter: brightness(100%);
            image-rendering: optimizeSpeed;
		}
	}

	.navigation-text{
		font-weight: bold;
		color: white;
	
	}
		
}

.login-form-button {
	width: 100%;
}
.login-form-forgot {
	float: right;
}

.uploader-wrapper {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.avatar-uploader {
    width: initial;
    margin: 0 auto;

    &::after {
        content: 'Click image to change';
        color: gray;
        font-size: .7rem;
        margin: 0 auto;
    }
}

.avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}


.profile-modal-wrapper {
    height: 370px;  
}


