.opacity-zero {
	opacity: 0;
}

.animate-up {
	transform: translateY(-25.7%);
}
.filter-down {
	transform: translateY(25.7%);
}

.animate-down {
	transform: translateY(0%);
}

.hidden {
	transform: translateY(-80%);
}

.main-view-wrapper{
	background: #f6fbff;
	position: relative;
	.close-icon {
		transition: ease-in-out 1s all;
		font-size: 2rem;
		opacity: .7;
		&:hover{
			transform: scale(1.1);
		}
	}
	.hero-wrapper{
		transition: ease-in-out .5s all;
		height: 552px;
		.hero-row{
			height: 90%;
			margin:0 24px;
		}
		.hero-title {
			text-align: left;
			font-size: 3rem;
		}
		.hero-text {
			display: block;
			text-align: left;
			opacity: .7;
			line-height: 2rem;
			width: 500px;
		}
		.hero-logo {
			text-align: middle;

		}
		#main-carousel {
			line-height:0px;
		}
	}
		
		  
	.filter-wrapper{
		box-shadow: 0 4px 8px rgba(119, 120, 122, 0.356);
		position: relative;
		top: 0;
		transition: ease-in-out 1s all;
		animation-delay: 1s;
		padding-bottom: 24px;
		background: white;
		.filter{
			border-radius: 2px;
		}
		.main-movie-card{
      filter: saturate(70%);
		}
	}
} 