@import "./color.scss";

//Movie header images
.movie-wrapper {
    background: #f6fbff;
    padding-bottom: 24px;
 
    .movie-container{
        border-radius: 2px;
        margin:0 auto;
        max-width: 100%;
        height:30em;
        background-size: cover;
        position: relative;
        background-color: #f6fbff;
        background-blend-mode: overlay;
        filter: saturate(50%);
        img{
            width:100%;
            opacity:.3;
            display:block;
            height:100%;
            object-fit:cover;
            background-color: white;
        }
        .movie-synopsis{
            padding-top: 24px;
            display:flex;
            position: absolute;
            top:0;
            width:100%;
            height:100%;
            .poster{
                box-shadow: 0 4px 8px rgba(119, 120, 122, 0.356);
                position: absolute;
                top:4em;
                left:4em;
                width:17em;
                height: 23em;
                img{
                    opacity: .9;
                    filter: grayscale(20%);
                    border-radius: 2px;
                }
            }
        }
        .synopsis{
            text-align:left;
            position: absolute;
            top:5em;
            left:25em;
            background:linear-gradient(rgba(90,90,90,0.7)rgb(90,90,90,0.7));
            width:500px;
            .limit-age{
                opacity:1;
                width:2em;
                height:2em;
            }
            h1 {
                opacity: .7;
                font-weight: bolder;
            }
            .primary-btn{
                background-color: #001529;
                border:none;
            }
        }
   
}

}
.movie-menu{
    padding:24px 3em;
    padding-bottom: 48px;
    background: #fff;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(119, 120, 122, 0.356);
}

//Overview
.divider {
    .title{
        font-weight: bold;
        font-size: large;
    }
    p{
        text-align: left;
        margin:0 5em;
    }
    h3{
        margin:0 4em;
        font-weight: 100;
        text-align:left
    }
}

//Reviews 
.reviews-wrapper {
    .comment-form{
        text-align: left;
    }
}
.comment-list {
    text-align:left;
}

.comment-edit{
    text-align: left;
    background-color: green;
}

.characters-lists {
    display:flex;
    flex-wrap:wrap;
    .character {
        width:15em;
        margin:1em;
    }
}
.checked {
    color:yellow;
}

.unchecked {
    color:grey;
}

input[type="radio"]{
    display:none;
}
.star {
    cursor:pointer;
    transform: color 200ms;
    width:100%;
}

.yellow-star {
    cursor:pointer;
    transform: color 200ms;
    color:yellow;
}

.grey-star {
    cursor:pointer;
    transform: color 200ms;
    color:grey;
}
.rating-review{
    padding-bottom: 1em;
    display:inline;
}

.review-wrapper{
    // display:flex;
    // flex-wrap:nowrap;
    padding:1em 0;
    .rating-wrapper{
        display:inline;
    }
}