body{
  background: #f6fbff;
}

.layout {
  background: #f6fbff;
  width: 1152px;
  margin: 0 auto;
}

.header {
 width: 1152px;
 margin: 24px auto;
 margin-bottom: 0;
 z-index: 1;
 border-radius: 2px;
 box-shadow: 0 4px 8px rgba(119, 120, 122, 0.356);
}

.content {
 background: #f6fbff;
 width: 1152px;
 margin: 0 auto;
 margin-bottom: 24px;
 border-radius: 2px;
}

.footer {
  width: 1152px;
  padding: 0;
  margin: 0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
  background: #f6fbff;
}